                <div class="page-header navbar navbar-fixed-top" style="widht:80%;">
                    <!-- BEGIN HEADER INNER -->
                    <div class="page-header-inner ">
                        <!-- BEGIN LOGO -->
                        <div class="page-logo">
                         <h1 style="color:#3598DC"> Holisol-Talky</h1>

                     </div>
            
                     <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                     <div class="page-top">
                        <div class="top-menu">

                           <ul class="nav navbar-nav pull-right">
                            <li style = "margin-top:8px;margin-right:-108px"><div style = "margin-right:64px;margin-top:22px">
                             <li class="dropdown dropdown-user dropdown-dark">
                               <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                   <?php foreach ($imgg as $im ) { 
                                    if (AuthComponent:: user('id') == $im['Image']['user_id'] ){ ?>

                                    <span class="username username-hide-on-mobile"  style="margin-left:51px"> <?php echo AuthComponent:: user('name') ; ?></span>
                                    <img src="../pro_pic/<?php echo $im['Image']['profile_pic'] ; ?>" alt="" class="img-circle" style="margin-top:-26px;"> </div>
                                    <?php }  else { ?>
                                    <img  src="../img/pro.png" alt="" class="img-circle" style="margin-top:-26px;"> </div>

                                    <?php  } 
                                } ?>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>

                                   <a onclick="window.location = '../users/myprofile'" style="color:blue;text-decoration: underline;" class="subject">
                                    <i class="icon-user"></i> My Profile </a>
                                </li>

                                <li>
                                    <a href="logout">
                                        <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>


                            </li>

                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
        </div>
        <!-- END HEADER INNER -->

