<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse" style="margin-top:11px;"><br>
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"> <h3 style="text-align:centre;color:#3598DC;margin-bottom:29px;margin-left:59px;">Welcome</h3>
            <li class="nav-item start active open">
                <a href="javascript:;" class="nav-link nav-toggle">
                   
                    <span class="title">Users</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start active open">
                        <a href="myprofile" class="nav-link ">
                           <!--  <i class="icon-bar-chart"></i> -->
                            <span class="title" style="margin-left:-14px">Profile</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                     <li class="nav-item start active open">
                        <a href="chatroom" class="nav-link ">
                           <!--  <i class="icon-bar-chart"></i> -->
                            <span class="title" style="margin-left:-14px">Messages</span>

                                    <i class="icon-envelope-open"></i>
                                    <span class="badge badge-danger">0</span>
                               
                            <span class="selected"></span>
                        </a>
                    </li>
                     <li class="nav-item start active open">
                        <a href="logout" class="nav-link ">
                           <!--  <i class="icon-bar-chart"></i> -->
                            <span class="title" style="margin-left:-14px">Logout</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    
                </ul>
            </li>

        </ul>
        </li>
        </ul>
    </div>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->

<!-- END SIDEBAR 