   

<div class="row"style="height:500px;margin-left:230px">
  <div class ="col-md-12" style="widht:10% !important;" id ="chat">


    <?php  foreach ($old_data as $dta) { 
      if (AuthComponent:: user('id') == $dta['Message']['user_id'])
      { 
        if ($dta['Message']['message'] == null){

          ?>

          <div  class ="message"style="height:auto; width:auto;  background-color:#A1E5F9;margin:1% 0; padding:1% 2%;border-right-top-radius: 20px; text-align:right;"  ><iframe width="120" height="140" src="../chatlog/<?php echo $dta['Message']['filename'] ; ?>" autoplay = "false">
            </iframe></div>

          <?php  
        }    else{ ?>
        <div class ="message" style="height:auto; width:auto;  background-color:#A1E5F9;margin:1% 0; padding:1% 2%;border-right-top-radius: 20px; text-align:right;" ><?php echo $dta['Message']['message']; ?></div>

        <?php
      }
    } 
    if (AuthComponent:: user('id') != $dta['Message']['user_id'] ) {
      if ($dta['Message']['message'] == null){


        ?>

        <div class ="message" style="height:auto; width:auto;  background-color:#fff;margin:1% 0; padding:1% 2%;border-right-top-radius: 20px; text-align:left;"  ><?php echo $dta['User']['mobile']; ?> : <iframe width="120" height="140" src="../chatlog/<?php echo $dta['Message']['filename'] ; ?>" autoplay = "false">
        </iframe></div>


        <?php
      }  else{ ?>
      <div class ="message" style="height:auto; width:auto;  background-color:#fff;margin:1% 0; padding:1% 2%;border-right-top-radius: 20px; text-align:left;" ><?php echo $dta['User']['mobile']; ?> : <?php echo $dta['Message']['message']; ?></div>

      <?php
    }


  }

}
?>


</div>
</div>
<?php
echo $this->Form->create('Message', array( 'method' => 'post', 'style'=>'margin-left:300px;margin-top:20px;','type'=>'file', 'url' => array('controller' => 'users', 'action' => 'fileupload')));
echo $this->Form->file('filename', array("label" => false, "type" => "file", 'placeholder' => 'filename', 'style' => 'margin-bottom:-25px;margin-left:71px;'));
?>

<button type="submit" class="btn green">submit</button>
<?php echo $this->Form->end(); ?>   


<div class="col-md-10" >


 <input class="form-control placeholder-no-fix"style="margin-left:66%;width:500px;float:left;margin-top:-48px;" type="text" id="msg" placeholder="type message here" name="message" required /> 

 <button type="button" id="btn-submit"style="float:right;margin-right:-220px;margin-top:-48px;" onSubmit="window.location.reload()"class="btn green submit">Send</button>

</div>


<script type="text/javascript">
$(document).ready(function(){
$("#btn-submit").on('click', function(){ 
var data = $("#msg").val();
$.ajax({
      type:'POST',
      url:"../users/ajax_chatroom?msg=" + data,
      data:data,
      success:function(response) {
        var mssg = JSON.parse(response);
         $.each(mssg.result, function (key, val) {
          var ajaxresult = val.Message.message;
          console.log(ajaxresult);
          $("#msg").val("");
          $('#chat').append(
           " <div style='height:auto;background-color:#A1E5F9;margin:1% 0; padding:1% 2%;border-right-top-radius: 20px;text-align:right;'>" + val.Message.message + '</div>'
           );
         
        });
       }
    }); 
  });
});
</script>
<script language="javascript">
 //   setInterval(function() {
 //     $("#chat").load(location.href+" #chat>*","");
 // }, 10000); 


   </script>
   <script language="javascript">
  //  $(document).ready(function() {
  //   $(this).parents(".fileupload").find("input[type='file']").trigger('click');
  // });

   </script>




