<?php echo $this->Session->flash('auth'); ?>
                    <?php echo $this->Form->create('User');?>
<form class="login-form" action="logout" method="post">
								<div class="form-actions">
                                <button type="submit" class="btn green uppercase">Logout</button>
                                 </div>
                                 </form>