<div class="row">
    <div class="col-md-9">
        <div class="portlet light bordered"style="margin-left:400px">
            <div style="border:0;margin-bottom:0;" class="portlet-title">
                <div class="row" >
                    <div class="tab-pane active" id="tab_1_2">
                        <?php foreach ($imgg as $im ) { 
                                   // debug(AuthComponent:: user('id'));die;
                                    //debug($im['Image']['user_id']);die;
                            if (AuthComponent:: user('id') == $im['Image']['user_id'] ){
                                ?>
                                
                                <img  width="120" height="160"src="../pro_pic/<?php echo $im['Image']['profile_pic'] ; ?>" alt=""> </div>
                                <?php }  else { ?>
                                <img  width="120" height="160"src="../img/pro.png" alt=""> </div>
                                


                                <?php  } 
                            } ?>
                            
                            
                            <?php
                            echo $this->Form->create('Image', array( 'method' => 'post', 'style'=>'margin-left:0px;margin-top:20px;','type'=>'file', 'url' => array('controller' => 'users', 'action' => 'imageupload')));
                            echo $this->Form->file('profile_pic', array("label" => false, "type" => "file", 'placeholder' => 'filename', 'style' => 'margin-bottom:-25px;margin-left:71px;'));
                            ?>
                            
                            <button type="submit" class="btn green">submit</button>
                            <?php echo $this->Form->end(); ?>   

                            
                        </form>
                    </div>

                    <p style="">Name:&emsp;&emsp;<?php echo $ck_prfl['User']['name']?></p>
                    <p style="">Mobile-No:&emsp;&emsp;<?php echo $ck_prfl['User']['mobile']?></p>
                    
                    <p style="">Created:&emsp;&emsp;<?php echo $ck_prfl['User']['created']?></p>

                </div>
            </div>
        </div>
    </div>
</div>